include MANIFEST.in
include AUTHORS
include CHANGES
include LICENSE
include README

recursive-include docs *.rst
include docs/conf.py
include docs/_static/rtd.css

recursive-include examples *.py
recursive-include tests *.py
